.mens-aside-title {
    font-size:2rem;  
}

.mens-check-title{
    font-size:1.6rem;
    font-weight: bold; 
    
    margin-bottom: .5rem;
}
.mens-checkbox {
    font-size:1.4rem;
    margin-bottom:2.5rem;
    
}
input.mens-box{
    width:18px;
    height:18px;
    
}
.mens-price-title {
    margin-bottom:2rem;
    margin-top:2rem;
    
    font-size:1.6rem;
}

.color-con {
    display:flex;
}

.red {
    margin-right:1rem;
    width:20px;
    height:20px;
    background:red;
    border-radius: 50%;
}

.blue {
    margin-right:1rem;
    width:20px;
    height:20px;
    background:blue;
    border-radius: 50%;
}
.green {
    margin-right:1rem;
    width:20px;
    height:20px;
    background:green;
    border-radius: 50%;
}
.yellow {
    margin-right:1rem;
    width:20px;
    height:20px;
    background:yellow;
    border-radius: 50%;
}
.pink {
    margin-right:1rem;
    width:20px;
    height:20px;
    background:pink;
    border-radius: 50%;
}

 
.kg-sizes {
    display:flex;
    
    
    
}
.kg-s {
    border:1px solid rgb(201, 197, 197);
    width:40px;
    padding-top:.5rem;
    padding-bottom:.5rem;
    margin-bottom:.8rem;
    text-align:center;
    font-size:1rem;

}
.mens-size-title {
    font-size:2rem;
    font-weight: bold; 
}