.deals-container{
    margin-top:3rem;
}

.deals-con {
    display:flex;
    justify-content: space-around;
    text-align:center;
    
}
.trending-deals {
    background-color: rgb(238, 232, 223);
}
.deals-img {
    width:300px;
}
.deals-title {
    margin-top:.1rem;
    margin-bottom:.5rem;
    padding:0;
}
.disc{
    padding-top:0;
    margin-top:0;
    font-size:1.2rem;
}
.title {
    margin-left:2rem;

}

.vwall {
    display:flex;
    justify-content: space-between;
}
.vbtn {
    padding:1rem 2.5rem;
    align-self: center;
    margin-right:4rem;
    

    font-size:1rem;
    border-radius:10px;
    border:none;
    font-weight:bold;
    background-color:black;
    color:white;
}
.vbtn:hover{
    background-color:rgb(218, 210, 214) ;
    transition: all .3s linear;
    color:black;
}