.shop-now {
    padding:1rem 2rem;
    font-size:1rem;
    border-radius:10px;
    border:none;
    font-weight:bold;
    background-color:black;
    color:white;
}
.shop-now:hover {
    background-color:rgb(187, 180, 184) ;
    transition: all .3s linear;
    color:black;
    
}
.ed-head{
    margin-left:2rem;
}
.editor-all {
    margin-top:5rem;
    
}
.flex-con{
    display:flex;
    justify-content: space-around;
    
}
.editor-item {
    position:relative;
    
}
.editor-img {
    border-radius:10px;
    position: relative;
}
.editor-content{
    position: absolute;
    top:80px;
    left:10px;
}
.edti {
    font-size:1.5rem;
    font-weight: bold;
}
.edt{
    font-size:1.1rem;
    width:160px;
}
