.newpass-container {
    width:350px;
    
    margin:0 auto;
    border:1px solid rgb(141, 132, 132);
    border-radius:10px;
    text-align: center;
    padding: 2rem;
}
.newpass-title {
    font-size: 1.5rem;
    margin-top:0;
    margin-bottom:2rem;
}
.newpass-text {
    width:300px;
    margin:0 auto;
    margin-bottom:0rem;
    color:rgb(104, 96, 96);
    text-align: left;
    border:2px solid red;
    padding:0 .8rem;
}

.newpass-password{
    position: relative;
}
.newpass-input {
    display:block;
    width:300px;
    padding:.8rem;
    margin:1rem auto;
    border-radius:5px;
    padding-left:1.3rem;
    border:1px solid rgb(141, 132, 132);
    background:white;
    
    
}
.newpass-password-btn {
    position:absolute;
    top:.7rem;
    right:1.2rem;
    border:none;
    background-color: white;
    width:30px;
}
.newpass-button{
    width:180px;
    height:40px;
    background-color: black;
    color:white;
    font-weight: bold;
    border-radius: 7px;
    border:none;
    margin-top:0rem;
}
.newpass-button:hover{
    background: blue;
}

.newpass-remember {
    
    text-align:left;
    margin-top:1rem;
    margin-bottom:2rem;
}